<footer class="footer py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 d-flex justify-content-md-start justify-content-end order-3 order-md-1">
                <img src="/img/logo-footer.png" alt="MUSA's Logo" class="footer-logo">
            </div>
            <div class="col-12 col-md-4 order-1 order-md-2 mb-sm-3 mb-md-0 text-start">
                <div>
                    <a href="/info-support" class="mb-3">Info & Support</a>
                    <a href="/contact">Contact Us</a>
                </div>
                <div class="social-links mt-4">
                    <a href="https://www.instagram.com/musawebapp" target="_blank" aria-label="MUSA's Instagram"><i class="bi bi-instagram" aria-hidden="true"></i></a>
                    <a href="https://youtube.com/@musa-museumsforall?feature=shared" target="_blank" aria-label="MUSA's YouTube"><i class="bi bi-youtube" aria-hidden="true"></i></a>
                </div>
                <hr>
            </div>
            <div class="col-12 col-md-4 order-2 order-md-3 text-start text-md-end">
                <small>© 2025 MUSA Team<br>All rights reserved.</small>
            </div>
        </div>
    </div>
</footer>