<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <div class="footer-links">
        <p class="footer-title">QUICK LINKS</p>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/museums">Museums</a></li>
          <li><a href="/about-us">About Us</a></li>
          <li><a href="/settings">Settings</a></li>
          <li><a href="/info-support">Info & Support</a></li>
        </ul>
      </div>
      <div class="footer-logo">
        <img src="/img/logo.png" alt="MUSA logo">
      </div>
    </div>
    <div class="footer-bottom">
      <p class="footer-social-title">JOIN OUR SOCIAL COMMUNITY</p>
      <div class="social-links">
        <a href="https://www.instagram.com/musawebapp" target="_blank" aria-label="MUSA's Instagram">
          <i class="bi bi-instagram"></i>
        </a>
        <a href="https://youtube.com/@musa-museumsforall?feature=shared" target="_blank" aria-label="MUSA's YouTube">
          <i class="bi bi-youtube"></i>
        </a>
      </div>
      <small class="footer-credits">
        © 2025 MUSA Team All rights reserved.
      </small>
    </div>
  </div>
</footer>
