<footer class="footer py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 d-flex justify-content-md-start justify-content-end order-3 order-md-1">
                <img src="/img/logo.png" alt="Musa's Logo">
            </div>
            <div class="col-12 col-md-4 order-1 order-md-2 mb-sm-3 mb-md-0 text-start">
                <div>
                    <a href="/info-support" class="mb-2">Info & Support</a>
                    <a href="/contact">Contact Us</a>
                </div>
                <div class="social-links mt-5">
                    <a href="#" target="_blank" aria-label="LinkedIn"><i class="bi bi-linkedin" aria-hidden="true"></i></a>
                    <a href="#" target="_blank" aria-label="YouTube"><i class="bi bi-youtube" aria-hidden="true"></i></a>
                </div>
                <hr>
            </div>
            <div class="col-12 col-md-4 order-2 order-md-3 text-start text-md-end text-muted">
                <small>© 2025 Musa Team<br>All rights reserved.</small>
            </div>
        </div>
    </div>
</footer>