<!-- Navbar -->
<header>
    <nav class="navbar py-3">
        <div class="container d-flex justify-content-between align-items-center">
            <a class="navbar-brand" href="/hunt/home">
                <img src="/img/logo-x-hunt.png" alt="MUSA x The Hunt's logo">
            </a>
            <button class="navbar-toggler hamburger-btn" id="hamburger" aria-label="Toggle menu">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
</header>

<!-- Menu -->
<div class="circular-menu" id="circularMenu">
  <div class="logo-close">
    <img src="/img/logo-x-hunt.png" alt="MUSA x The Hunt's logo">
    <button class="close-btn" id="closeMenu" aria-label="Close menu">&times;</button>
  </div>
  <div class="menu m-auto">
    <a class="nav-link" href="/hunt/home" aria-label="Home">
      <i class="bi bi-house-door me-2" aria-hidden="true"></i>Home
    </a>
    <a class="nav-link" href="/hunt/explore" aria-label="Explore">
      <i class="bi bi-palette me-2" aria-hidden="true"></i>Explore
    </a>
    <a class="nav-link" href="/hunt/scan" aria-label="Scan">
      <i class="bi bi-qr-code-scan me-2" aria-hidden="true"></i>Scan QR
    </a>
    <a class="nav-link" href="/hunt/map" aria-label="Map">
      <i class="bi bi-map me-2" aria-hidden="true"></i>Map
    </a>
    <a class="nav-link" href="/hunt/games" aria-label="Games">
      <i class="bi bi-controller me-2" aria-hidden="true"></i>Games
    </a>
    <a class="nav-link" href="/hunt/speech-to-text" aria-label="Speech-to-Text">
      <i class="bi bi-mic me-2" aria-hidden="true"></i>Speech-to-Text
    </a>
    <a class="nav-link" href="/hunt/settings" aria-label="Settings">
      <i class="bi bi-gear me-2" aria-hidden="true"></i>Settings
    </a>
  </div>
  <div class="socials mb-3">
    <a class="nav-link ps-4" href="/">Back to MUSA</a>
    <a href="#" target="_blank" class="me-3" aria-label="MUSA's LinkedIn"><i class="bi bi-linkedin" aria-hidden="true"></i></a>
    <a href="https://www.instagram.com/musawebapp" target="_blank" class="me-3" aria-label="MUSA's Instagram"><i class="bi bi-instagram" aria-hidden="true"></i></a>
    <a href="https://youtube.com/@musa-museumsforall?feature=shared" target="_blank" aria-label="MUSA's YouTube"><i class="bi bi-youtube" aria-hidden="true"></i></a>
  </div>
</div>
