<!-- Navbar -->
<header>
    <nav class="navbar">
        <div class="container d-flex justify-content-end">
            <button class="hamburger-btn navbar-toggler" id="hamburger" aria-label="Toggle menu">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
</header>

<!-- Menu  -->
<div class="circular-menu" id="circularMenu">
    <div class="logo-close mt-3">
        <img src="/img/logo.png" alt="MUSA's logo">
        <button class="close-btn" id="closeMenu" aria-label="Close menu">&times;</button>
    </div>
    <div class="menu m-auto">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/museums">Museums</a>
        <a class="nav-link" href="/scan">Scan</a>
        <a class="nav-link" href="/contact">Contact Us</a>
        <a class="nav-link" href="/settings">Settings</a>
    </div>
    <div class="socials mb-3">
        <a href="https://www.instagram.com/musawebapp" target="_blank" class="me-3" aria-label="MUSA's Instagram"><i class="bi bi-instagram" aria-hidden="true"></i></a>
        <a href="https://youtube.com/@musa-museumsforall?feature=shared" target="_blank" aria-label="MUSA's YouTube"><i class="bi bi-youtube" aria-hidden="true"></i></a>
    </div>
</div>