<div id="team-modal" class="team-modal d-none">
    <div class="team-modal-content">
        <button class="popup-close-btn" aria-label="Close popup">&times;</button>
        <img id="modal-img" src="" alt="" class="mb-4" />
        <p id="modal-blurb"></p>
    </div>
</div>