<div class="certificateModal" id="certificateModal">
  <div class="modal-content">
    <i class="modal-icon" aria-hidden="true"></i>
    <p></p>
    <input type="text" class="form-control" id="playerName" placeholder="Enter your name" required>
    <button id="generateCertificateBtn" class="btn default-btn">Download Certificate</button>
  </div>
</div>