<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scan - MUSA</title>
    <link rel="icon" href="/img/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Onest:wght@100..900&display=swap">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <script src="/js/apply-settings.js"></script>
    <script src="https://unpkg.com/html5-qrcode"></script>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <%- include("partials/header-musa") %>

    <main>
      <section class="scan">
        <div class="container">
          <h1>Scan QR Code</h1>
          <p>
            Point your camera at a QR code to scan it.
          </p>          
          <div id="scan-box">
            <div id="scan-content"></div>
            <div id="qr-error" style="display: none;"></div>
          </div>
        </div>
      </section>
    </main>

    <!-- Footer -->
    <%- include("partials/footer") %>

    <script src="/js/menu.js"></script>
    <script src="/js/active-link.js"></script>
    <script src="/js/scan.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>