/* General style */

:root {
  --font: 'Onest', sans-serif;
  --font-dyslexia: 'Lexend Deca', sans-serif;
  --text-color: #272727;
  --heading-color: #000;
  --bg-color: #FFFFFF;
  --body-font-size: 16px;
  --h1-size: 38px;
  --h2-size: 28px;
  --h3-size: 18px;
  --nav-link-size: 28px;
  --small-size: 14px;
  --default-btn-bg: transparent;
  --default-btn-col: #000000;
}

body {
  font-family: var(--font);
  font-size: var(--body-font-size);
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--bg-color);
  --default-btn-col: var(--default-btn-col);
}

body.dark-mode {
  --text-color: #FFFFFF;
  --bg-color: #272727;
  --default-btn-col: #FFFFFF;
}

body.large-text {
  --body-font-size: 24px;          
  --h1-size: 40px; 
  --h2-size: 35px;         
  --h3-size: 32px;   
  --small-size: 16px;    
  --nav-link-size: 30px;  
}

body.dyslexia-font {
  font-family: var(--font-dyslexia);
}

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

h1 {
  font-size: var(--h1-size);
  margin-bottom: 24px;
  font-weight: 400;
}

h2 {
  font-size: var(--h2-size);
  margin-bottom: 24px;
  font-weight: 400;
}

h3 {
  font-size: var(--h3-size);
  margin-bottom: 12px;
  font-weight: 500;
}

p {
  font-size: var(--body-font-size);
  margin-bottom: 0px;
}

small {
  font-size: var(--small-size);
}

header {
  position: relative;
  z-index: 2;
}

.dark-mode .header-logo, .dark-mode .logo-close img {
  content: url('/img/logo-dark-mode.png');
}

.hamburger-btn {
  font-size: 1.25rem;
  position: fixed;
  right: -0.33rem;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  padding: 0.25rem;
  z-index: 1001;
  border: none;
}

.hamburger-btn:focus {
  box-shadow: none;
}

@media (min-width: 768px) {
  .hamburger-btn {
    right: 1.21rem;
  }
}

@media (min-width: 820px) {
  .hamburger-btn {
    right: 2.60rem;
  }
}

@media (min-width: 1024px) {
  .hamburger-btn {
    right: 1.70rem;
  }
}

@media (min-width: 1200px) {
  .hamburger-btn {
    right: 3.60rem;
  }
}

@media (min-width: 1440px) {
  .hamburger-btn {
    right: 3.5rem;
  }
}

@media (min-width: 2560px) {
  .hamburger-btn {
    right: 38.5rem;
  }
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  background-size: contain;
}

.dark-mode .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  background-size: contain;
}

.circular-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #EDEDED;
  color: var(--text-color);
  clip-path: circle(0% at calc(100% - 2rem) 2.5rem);
  transition: clip-path 0.6s ease-in-out;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.dark-mode .circular-menu {
  background-color: #272727;
}

.circular-menu.show {
  clip-path: none
}

.circular-menu .logo-close {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.circular-menu .logo-close img {
  width: 40px;
}

.close-btn {
  background: none;
  border: none;
  font-size: 2rem;
  color: var(--text-color);
  margin-right: -0.3rem;
}

@media(min-width: 320px) {
  .circular-menu {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
  .circular-menu .logo-close {
    margin-top: 0.30rem !important;
  }
}

/* Delete if wrong on Iphone X */
@media (min-width: 375px) {
  .close-btn {
    margin-right: -2rem;
  }
}

/* Delete if wrong on Iphone X */
@media (min-width: 376px) {
  .close-btn {
    margin-right: -0.3rem;
  }
}

/* Delete if wrong on Iphone 15 */
@media (min-width: 393px) {
  .close-btn {
    margin-right: -2rem;
  }
}

/* Delete if wrong on Iphone 15 */
@media (min-width: 394px) {
  .close-btn {
    margin-right: -0.3rem;
  }
}

@media(min-width: 768px) {
  .circular-menu {
    padding-left: 2.20rem;
    padding-right: 2.20rem;
  }
  .close-btn {
    margin-right: -0.12rem;
  }
}

@media(min-width: 820px) {
  .circular-menu {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .close-btn {
    margin-right: -0.60rem;
  }
}

@media(min-width: 1024px) {
  .circular-menu {
    padding-left: 2.80rem;
    padding-right: 2.80rem;
  }
  .close-btn {
    margin-right: -0.25rem;
  }
}

@media(min-width: 1200px) {
  .circular-menu {
    padding-left: 4.8rem;
    padding-right: 4.8rem;
  }
  .close-btn {
    margin-right: -0.30rem;
  }
}

@media(min-width: 1440px) {
  .circular-menu {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
  }
  .close-btn {
    margin-right: -0.20rem;
  }
}

@media(min-width: 2560px) {
  .circular-menu {
    padding-left: 39.5rem;
    padding-right: 39.5rem;
  }
  .close-btn {
    margin-right: -0.25rem;
  }
}

.nav-link {
  margin-bottom: 16px;
  font-size: var(--nav-link-size);
}

.navbar-brand img {
  width: 40px !important;
}

.nav-link.active {
  font-weight: bold;
}

.socials i {
  color: var(--text-color);
  font-size: 1.30rem;
}

.footer {
  background-color: #EDEDED;
  padding-top: 32px;
  padding-bottom: 32px;
}

.dark-mode .footer {
  background-color: var(--bg-color);
}

.footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 48px;
}

.footer-title {
  font-size: 14px;
  margin-bottom: 12px;
  font-weight: 600;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-links a {
  text-decoration: none;
  font-size: 14px;
  color: var(--text-color);
}

.footer-logo img {
  max-width: 53px;
}

.dark-mode .footer-logo img {
  content: url('/img/logo-dark-mode.png');
}

.footer-social-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #000;
}

.large-text .footer-title, .large-text .footer-links a, .large-text .footer-social-title {
  font-size: 16px;
}

.dark-mode .footer-social-title {
  color: var(--text-color);
}

.social-links {
  display: flex;
  gap: 16px;
  margin-bottom: 48px;
}

.social-links a {
  color: var(--text-color);
}

.social-links i {
  font-size: 24px;
}

@media (min-width: 768px) {
  .footer-bottom {
    text-align: center;
  }

  .social-links {
    justify-content: center;
  }
}

@media(max-width: 768px) {
  .footer img {
    height: 60px;
  }
}

.default-btn {
  background-color: var(--default-btn-bg);
  color: var(--default-btn-col);
  border: 1px solid #000;
  border-radius: 100px;
  padding: 10px 46px;
  font-size: 14px;
  margin-top: 24px;
}

.large-text .default-btn {
  font-size: 16px;
}

.default-btn:hover {
  border: 1px solid #000;
  color: var(--default-btn-col) !important;
}

.dark-mode .default-btn {
  color: #FFFFFF;
  border-color: #FFFFFF;
}

.form-control {
  background-color: transparent;
  border-radius: 0px;
}

.back-to-home {
  text-decoration: none;
  font-size: 1.45rem;
  margin-right: 0.5rem;
  color: var(--text-color);
}

@media (max-width: 675px) {
  .back-to-home {
    font-size: 1.25rem;
  }
}

@media (max-width: 760px) {
  .large-text .back-to-home {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  .large-text .back-to-home {
    font-size: 2.25rem;
  }
}

section {
  padding-top: 32px;
  padding-bottom: 32px;
}

/* Home page */

body:has(.hero) .navbar {
  position: absolute;
}

body:has(.hero) .hamburger-btn {
  top: 1.21rem;
}

section.intro, section.howto, section.partners, section.testimonials, section.contact {
  padding-top: 64px;
  padding-bottom: 64px;
}

section.hero {
  padding-top: 0px;
  padding-bottom: 0px;
}

section.contact {
  padding-top: 32px;
  padding-bottom: 32px;
}

.hero {
  background-image: url("/img/hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60dvh;
}

.intro-MUSA {
  font-weight: bold;
}

.museum-rows {
  display: flex;
  flex-direction: column;
}

.museum-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-top: 1px solid #272727;
  border-bottom: 1px solid #272727;
  cursor: pointer;
  padding-top: 8px;
  padding-bottom: 8px;
  gap: 8px;
}

.museum-rows a {
  text-decoration: none;
  color: var(--text-color) !important;
}

.dark-mode .museum-row {
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

.museum-info {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  flex-grow: 1;
  margin-top: auto;
}

.museum-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.museum-title {
  font-weight: 500;
  font-size: 14px;
}

.museum-location {
  font-weight: 300;
  font-size: 14px;
}

.large-text .museum-title, .large-text .museum-location {
  font-size: 16px;
}

.arrow {
  margin-left: auto;
}

.arrow i {
  font-size: 24px;
}

.testimonial-bubble {
  margin: 0 auto;
  height: 484px;
  padding: 32px;
  background-color: #A8B9C6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .testimonial-bubble {
    height: 326px;
  }
}

.testimonial-quote {
  text-align: left;
  font-size: 22px;
  line-height: 1.6;
}

.testimonial-author {
  display: flex;
  align-items: center;
  gap: 16px;
}

.dark-mode .testimonial-quote, .dark-mode .testimonial-author {
  color: #272727
}

.testimonial-author span {
  font-size: 22px;
}

.testimonial-img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
}

.testimonial-controls {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  margin: 24px auto 0;
}

.carousel-control-prev, .carousel-control-next {
  position: static;
  width: auto;
  padding: 0;
  opacity: 1;
}

.carousel-indicators {
  position: static;
  margin: 0;
  display: flex;
  justify-content: center;
}

.carousel-indicators button {
  background-color: transparent !important; 
  border: none !important;                
  padding: 0 !important;                
  margin: 0 !important;                    
}

.carousel-indicators img {
  display: block;
  width: 8px;
  height: 8px;
  background-color: transparent !important; 
  border: none !important;                   
  padding: 0 !important;                    
  margin: 0 !important;                      
  box-shadow: none !important;         
  background: none !important;             
}

.carousel-indicators button.active img {
  content: url("/img/dot-active.png");
}

.dark-mode .carousel-control-prev img {
  content: url(/img/arrow-left-dark.png);
}

.dark-mode .carousel-control-next img {
  content: url(/img/arrow-right-dark.png);
}

.contact {
  background-color: #F3F3F3;
}

.dark-mode .contact {
  background-color: var(--bg-color);
}

form {
  margin-top: 32px;
}

input.form-control, textarea.form-control {
  border: none;
  border-bottom: 1px solid;
}

input.form-control {
  margin-bottom: 32px;
}

.contact button {
  margin-top: 32px;
}

label {
  color: var(--text-color);
}

.dark-mode input.form-control, .dark-mode textarea.form-control {
  border: none;
  border-bottom: 1px solid #FFFFFF;
}

.full-width-image {
  padding-top: 0px;
  padding-bottom: 0px;
}

.full-width-image {
  width: 100%;
}

.full-width-image img {
  width: 100%;
  height: auto;
  display: block;
}

/* Museums page */

.museum-card .card {
  background-color: var(--bg-color);
  border: none;
  margin-bottom: 24px;
}

.museum-card .card-link {
  text-decoration: none;
  color: inherit;
}

.museum-card .card-img-top {
  width: 100%;
  height: 200px;
  border-radius: 0px;
  object-fit: cover;
  margin-bottom: 12px;
}

.card-body {
  border-radius: 0px;
  color: var(--text-color);
  padding: 0px;
}

.museum-card .name {
  font-size: 16px;
  font-weight: 500;
}

.museum-card .location {
  font-size: 16px;
  font-weight: 300;
}

.large-text .museum-card .name, .large-text .museum-card .location {
  font-size: 24px;
} 

/* Scan page */

#scan-box {
  margin-top: 32px;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#scan-content {
  width: 100%;
  height: auto;
  max-width: 600px;
}

#qr-error {
  color: #EA1D2D;
}

.scan .bi-qr-code-scan {
  font-size: 128px;
  color: #9F9F9F;
  margin-bottom: 24px;
}

.dark-mode .bi-qr-code-scan {
  color: #FFFFFF;
}

#qr-reader {
  width: 100%;
  height: 100%;
}

#qr-message {
  color: #525252;
}

#qr-message, #stop-scan, #qr-error {
  margin-top: 24px;
}

.large-text #qr-message {
  word-wrap: break-word;
}

/* Info & Support page */

.info1, .info2 {
  margin-bottom: 32px;
}

.info3 a {
  color: var(--text-color);
  text-decoration: underline;
}

/* Contact us page */

.contact-page .container {
  display: block;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 660px;
  margin-right: auto;
  margin-left: auto;
}

.contact-form div {
  width: 100%;
}

.contact-form .text-center {
  width: 100%;
}

.form-name {
  margin-top: 8px;
}

.form-textarea {
  margin-bottom: 8px;
}

/* Settings page */

.option {
  margin-bottom: 48px;
}

.radio-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.radio-option {
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  cursor: pointer;
  background-color: #E2E2E2;
  border: 1px solid #E2E2E2;
  transition: all 0.3s ease-in-out;
}

.radio-option input[type="radio"] {
  appearance: none;
  position: absolute;
  top: 8px;
  left: 8px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #FFFFFF;
  /* border: 1px solid #9F9F9F; */
  cursor: pointer;
}

.radio-option input[type="radio"]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: background-color 0.2s;
}

.radio-option input[type="radio"]:checked::before {
  background-color: #80C5E4;
}

.radio-option:has(input[type="radio"]:checked) {
  border: 1px solid #80C5E4;
  background-color: #CEE2EC;
}

.dark-mode .radio-option input[type="radio"] {
  background-color: #272727;
  /* border: 1px solid #9F9F9F; */
}

.dark-mode .radio-option {
  background-color: #E2E2E2;
  color: var(--bg-color);
  border: 1px solid #E2E2E2;
}

.visual-box {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.visual-box i {
  font-size: 18px;
}

.option-label {
  text-align: center;
  margin-top: 8px;
}

.text-style-options {
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  .text-style-options {
    flex-direction: column;
  }
}