/* General style */

@font-face {
  font-family: 'Arial Rounded';
  src: url('/fonts/Arial-Rounded.ttf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

:root {
  --font-heading: 'Onest', sans-serif;
  --font-body: 'Noto Sans', sans-serif;
  --font-dyslexia: 'Lexend Deca', sans-serif;
  --text-color: #272727;
  --heading-color: #000;
  --bg-color: #FFFCF9;
  --body-font-size: clamp(1rem, 2.5vw, 1.120rem);
  --h1-size: clamp(1.75rem, 5vw, 2.25rem);
  --h2-size: clamp(1.5rem, 4vw, 2rem);
  --h3-size: clamp(1.25rem, 3vw, 1.5rem);
  --nav-link-size: clamp(1.2rem, 2.5vw, 1.25rem); 
  --small-size: clamp(0.875rem, 2vw, 1rem);
  --default-btn-bg: #272727;
  --default-btn-col: #F9F4EE;
}

body {
  font-family: var(--font-body);
  font-size: var(--body-font-size);
  line-height: 1.6;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--bg-color);
}

body.dark-mode {
  --heading-color: #ffffff;
  --text-color: #FFFCF9;
  --bg-color: #272727;
  --default-btn-bg: #FFFCF9;
  --default-btn-col: #272727;
}

body.large-text {
  --body-font-size: clamp(1.375rem, 2.5vw, 1.5rem); 
  --h2-size: clamp(2.5rem, 6vw, 2.75rem);          
  --h1-size: clamp(2rem, 5vw, 2.5rem);          
  --h3-size: clamp(1.5rem, 3.5vw, 2rem);           
  --nav-link-size: clamp(1.25rem, 2.5vw, 1.5rem);   
  --small-size: clamp(1.125rem, 2vw, 1.25rem);      
}

body.dyslexia-font {
  font-family: var(--font-dyslexia);
}

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

h1, h2, h3 {
  font-family: var(--font-heading);
  color: var(--heading-color);
  font-weight: bold;
}

h1 {
  font-size: var(--h1-size);
  margin-bottom: 2rem;
}

h2 {
  font-size: var(--h2-size);
  margin-bottom: 1.5rem;
}

h3 {
  font-size: var(--h3-size);
  margin-bottom: 1rem;
}

p {
  font-size: var(--body-font-size);
}

small {
  font-size: var(--small-size);
}

header {
  position: relative;
  z-index: 2;
}

body.dark-mode .header-logo {
  content: url('/img/logo-sidebar.png');
}

.hamburger-btn {
  font-size: 1.25rem;
  position: fixed;
  right: -0.33rem;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  padding: 0.25rem;
  z-index: 1001;
  border: none;
}

.hamburger-btn:focus {
  box-shadow: none;
}

@media (min-width: 768px) {
  .hamburger-btn {
    right: 1.21rem;
  }
}

@media (min-width: 820px) {
  .hamburger-btn {
    right: 2.60rem;
  }
}

@media (min-width: 1024px) {
  .hamburger-btn {
    right: 1.70rem;
  }
}

@media (min-width: 1200px) {
  .hamburger-btn {
    right: 3.60rem;
  }
}

@media (min-width: 1440px) {
  .hamburger-btn {
    right: 3.5rem;
  }
}

@media (min-width: 2560px) {
  .hamburger-btn {
    right: 38.5rem;
  }
}

.hamburger-btn:focus {
  box-shadow: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  background-size: contain;
}

.dark-mode .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  background-size: contain;
}

.circular-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #5C0023;
  color: #F9F4EE;
  clip-path: circle(0% at calc(100% - 2rem) 2.5rem);
  transition: clip-path 0.6s ease-in-out;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.circular-menu.show {
  clip-path: none
}

.circular-menu .logo-close {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.circular-menu .logo-close img {
  width: 40px;
}

.close-btn {
  background: none;
  border: none;
  font-size: 2rem;
  color: #F9F4EE;
  margin-right: -0.3rem;
}

@media(min-width: 320px) {
  .circular-menu {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
  .circular-menu .logo-close {
    margin-top: 0.30rem !important;
  }
}

/* Delete if wrong on Iphone X */
@media (min-width: 375px) {
  .close-btn {
    margin-right: -2rem;
  }
}

/* Delete if wrong on Iphone X */
@media (min-width: 376px) {
  .close-btn {
    margin-right: -0.3rem;
  }
}

/* Delete if wrong on Iphone 15 */
@media (min-width: 393px) {
  .close-btn {
    margin-right: -2rem;
  }
}

/* Delete if wrong on Iphone 15 */
@media (min-width: 394px) {
  .close-btn {
    margin-right: -0.3rem;
  }
}

@media(min-width: 768px) {
  .circular-menu {
    padding-left: 2.20rem;
    padding-right: 2.20rem;
  }
  .close-btn {
    margin-right: -0.12rem;
  }
}

@media(min-width: 820px) {
  .circular-menu {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .close-btn {
    margin-right: -0.60rem;
  }
}

@media(min-width: 1024px) {
  .circular-menu {
    padding-left: 2.80rem;
    padding-right: 2.80rem;
  }
  .close-btn {
    margin-right: -0.25rem;
  }
}

@media(min-width: 1200px) {
  .circular-menu {
    padding-left: 4.8rem;
    padding-right: 4.8rem;
  }
  .close-btn {
    margin-right: -0.30rem;
  }
}

@media(min-width: 1440px) {
  .circular-menu {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
  }
  .close-btn {
    margin-right: -0.20rem;
  }
}

@media(min-width: 2560px) {
  .circular-menu {
    padding-left: 39.5rem;
    padding-right: 39.5rem;
  }
  .close-btn {
    margin-right: -0.25rem;
  }
}

.nav-link {
  margin-bottom: 1rem;
  font-family: var(--font-heading);
  font-size: var(--nav-link-size);
}

.navbar-brand img {
  width: 40px !important;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-link.active {
  font-weight: bold;
}

.socials i {
  color: #F9F4EE;
  font-size: 1.30rem;
}

.museums-link {
  background: none;
  border: none;
  color: #F9F4EE;
  font-family: var(--font-heading);
  font-size: var(--nav-link-size);
  padding: 0;
  margin-bottom: 1rem;
}

#museumsMenu a {
  font-weight: 200;
  font-size: var(--nav-link-size);
  margin-bottom: 1rem;
  color: #F9F4EE;
}

footer {
  background-color: #D5CEC8;
  color: #1C1B1F;
}

body.dark-mode .footer-logo {
  content: url('/img/logo-sidebar.png');
}

.dark-mode footer {
  background-color: #000000;
  color: #FFFCF9;
}

footer a {
  text-decoration: none;
  display: block;
  color: #1C1B1F;
  font-weight: 600;
}

.dark-mode footer a, .dark-mode footer small {
  color: var(--text-color);
}

footer a:hover {
  text-decoration: underline;
}

@media(max-width: 768px) {
  .footer img {
    height: 60px;
  }
}

@media(min-width: 768px) {
  .footer img {
    height: 80px;
  }
}

footer .social-links {
  display: flex;
  gap: 1rem;
  align-items: center;
}

footer .social-links a {
  font-size: 1.25rem;
}

/* Show <hr> only on small screens */
footer hr {
  display: block;
}

@media (min-width: 768px) {
  footer hr {
    display: none;
  }
}

footer small {
  color: #1C1B1F;
}

.text-muted {
  color: var(--text-color) !important;
}

.default-btn {
  background-color: var(--default-btn-bg);
  color: var(--default-btn-col);
  border: none;
  border-radius: 5px;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
}

.default-btn:hover {
  background-color: var(--default-btn-bg) !important;
  color: var(--default-btn-col) !important;
}

.back-to-home {
  text-decoration: none;
  font-size: 1.45rem;
  margin-right: 0.5rem;
  color: black;
}

.dark-mode .back-to-home {
  color: white;
}

@media (max-width: 675px) {
  .back-to-home {
    font-size: 1.25rem;
  }
}

@media (max-width: 760px) {
  .large-text .back-to-home {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  .large-text .back-to-home {
    font-size: 2.25rem;
  }
}

.accent {
  font-style: italic;
  font-weight: 500;
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  display: none;
  transform: translate(-50%, -50%);
  max-width: 450px;
  width: 95%;
  justify-content: center;
  align-items: center;
}

.modal.active {
  display: flex;
}

.modal-content {
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  background-color: #D5CEC8;
}

.dark-mode .modal-content {
  background-color: #A8B9C6;
  color: #272727 !important;
}

.dark-mode .modal-content p {
  color: #272727 !important;
}

.modal-icon {
  font-size: 3rem;
}

.modal-content p {
  font-weight: 600;
  color: var(--text-color);
}

@media (max-width: 600px) {
  .modal {
    width: 365px;
    height: auto;
  }
}

iframe {
  border-radius: 15px;
}

/* Home page */

body:has(.hero) .navbar {
  position: absolute;
}

body:has(.hero) .hamburger-btn {
  top: 1.21rem;
}

.hero {
  min-height: 100svh;
  background-color: #FFFCF9;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden; 
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url('/img/bg.jpg') center center / cover no-repeat;
  opacity: 0.4;
}

@media (min-width: 1024px) {
  .hero::before {
    background: url('/img/bg2.jpg') center center / cover no-repeat;
  }
}

.hero .container {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.welcome-text, .to-text {
  opacity: 0;
  transition: all 1s ease;
  color: #5C0023;
  transform: translateX(0);
  font-size: 3rem;
  margin: 0;
}

.welcome-text {
  transform: translateX(100px); 
}

.to-text {
  margin-top: -0.5rem;
  margin-left: -10rem; 
  transform: translateX(-100px);
}

.welcome-text.visible, .to-text.visible {
  opacity: 1;
  transform: translateX(0);
}

.hero-visuals {
  position: relative;
  width: fit-content;
  margin: auto auto; /* margin: 1rem auto; */
}

.hand-container {
  position: relative;
  width: 180px;
  height: 240px;
}

.hand {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0;
  filter: grayscale(100%);
}

.fade-hand {
  transition: opacity 0.8s ease;
}

.hand.active {
  opacity: 1;
  filter: none;
}

.rotated-text {
  position: absolute;
  top: 59.5%; 
  left: 108%; 
  opacity: 0;
  transition: opacity 1s ease;
}

.rotated-text p {
  font-family: 'Arial Rounded', sans-serif;
  transform: rotate(-90deg);
  transform-origin: left center;
  white-space: nowrap;
  font-size: 1rem;
  color: #5C0023;
}

.scroll-arrow {
  opacity: 0;
  margin-top: 8rem;
  animation: bounce 2s infinite;
  transition: opacity 1s ease;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
}

.scroll-arrow.visible {
  opacity: 1;
}

@media (max-width: 768px) {
  .scroll-arrow {
    margin-top: 2rem;
  }
}

.scroll-arrow a {
  color: #5C0023;
}

@media (max-width: 1024px) {
  .intro h2, .intro2 h2, .involve h2, .testimonials h2, .team h2 {
    font-size: 38px;
  }
  .intro p, .intro2 p, .involve p, .team .p {
    font-size: 20px;
  }
  .accent {
    font-size: 18px !important;
  }
}

.highlight {
  font-weight: 800;
}

.hand-top {
  display: flex;
  justify-content: center;
  margin-bottom: -120px;
}

.hand-top-img {
  max-width: 100%;
  height: auto;
  display: block;
}

@media (min-width: 768px) {
  .hand-top {
    display: none;
  }
  .intro2 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.intro2 {
  display: flex;
  background-color: #80C5E4;
}

.dark-mode .intro2, .dark-mode .intro2 h2 {
  color: var(--bg-color);
}

.quote {
  min-height: 100vh;
  background-color: #A8B9C6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.dark-mode .quote {
  color: #272727;
}

.font1 {
  font-family: var(--font-heading);
  font-weight: 500;
  font-size: 36px;
}

.font2 {
  font-family: var(--font-body);
  font-weight: 500;
  font-size: 20px;
  font-style: italic;
}

input.form-control,
textarea.form-control {
  background-color: #D5CEC8 !important;
  border: 1px solid #D5CEC8;
}

.dark-mode input.form-control,
.dark-mode textarea.form-control {
  background-color: #FFFCF9 !important;
  border: 1px solid #FFFCF9;
}

.testimonial-bubble {
  text-align: center;
  background-color: #5C0023;
  color: #FFFCF9;
  padding: 1.5rem;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  max-width: 370px;
}

@media (max-width: 425px) {
  .testimonial-bubble {
    padding: 4rem;
  }
}

.testimonial-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  background-color: #E6B244;
}

@media (max-width: 990px) {
  .testimonial-bubble {
    max-width: 99%;
  }
}

.team-member {
  text-align: center;
}

.team-labels {
  font-size: 18px;
  font-weight: 600;
}

@media (min-width: 320px) {
  .large-text .team-labels {
    font-size: 20px;
  }
  .large-text .team-member p {
    font-size: 18px;
  }
}

.team-member img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

.team-member small a {
  display: inline-flex;
  font-size: 16px !important;
  text-decoration: none;
  align-items: center;
  gap: 0.5rem;
}

.team-member a:hover, .team-member i.bi-linkedin {
  color: var(--text-color) !important;
}

.dark-mode .team-member small a, .dark-mode .team-member small a:hover {
  color: white !important;
}

.dark-mode .team-member i.bi-linkedin {
  color: white !important;
}

.menu-btn {
  background: none;
  border: none;
  padding: 0;
  color: #1C1B1F;
  font-size: 1rem;
  cursor: pointer;
}

.dark-mode .menu-btn {
  color: #FFFCF9;
}

.team-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#modal-blurb {
  text-align: left;
}

.team-modal-content {
  background-color: #F3EEE9;
  padding: 2rem;
  position: relative;
  max-width: 400px;
  width: 94%;
  text-align: center;
  border-radius: 5px;
  font-weight: 500;
  font-size: 18px;
}

@media (min-width: 320px) {
  .team-modal-content {
    width: 92%;
  }
}

@media (min-width: 375px) {
  .team-modal-content {
    width: 93.5%;
  }
}

@media (min-width: 425px) {
  .team-modal-content {
    width: 95%;
  }
}

.dark-mode .team-modal-content {
  background-color: #272727;
}

.team-modal-content img {
  margin-top: -80px;
  border-radius: 50%;
  background-color: #F3EEE9;
  border: 4px solid #F3EEE9;
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.dark-mode .team-modal-content img {
  background-color: #272727;
  border-color: #272727;
}

.popup-close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  font-size: 1.75rem;
  border: none;
  color: #272727;
  cursor: pointer;
}

.dark-mode .popup-close-btn {
  color: #FFFCF9;
}

/* Info & Support page */

.access-stm a {
  color: var(--text-color);
  text-decoration: underline;
}

/* Settings page */

.settings h3 {
  font-weight: 500;
}

.radio-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.radio-option {
  width: 100%;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  cursor: pointer;
  background-color: #D5CEC8;
  border: 1px solid #D5CEC8;
  transition: all 0.3s ease-in-out;
}

.radio-option input[type="radio"] {
  appearance: none;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #D5CEC8;
  border: 2px solid #272727;
  cursor: pointer;
}

.radio-option input[type="radio"]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: background-color 0.2s;
}

.radio-option input[type="radio"]:checked::before {
  background-color: #272727;
}

.radio-option:has(input[type="radio"]:checked) {
  border: 1px solid #000;
}

.dark-mode .radio-option:has(input[type="radio"]:checked) {
  border: none;
}

.dark-mode .radio-option {
  background-color: #F9F4EE;
  color: var(--bg-color);
  border: 1px solid #F9F4EE;
}

.dark-mode .radio-option input[type="radio"] {
  background-color: #F9F4EE;
}

.visual-box {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.visual-box i {
  font-size: 1.5rem;
}

.option-label {
  text-align: center;
  margin-top: 0.5rem;
}

.text-style-options {
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  .text-style-options {
    flex-direction: column;
  }
}
