<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Games - The Hunt Museum</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Onest:wght@300&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <script src="/js/apply-settings.js"></script>
    <link rel="stylesheet" href="/css/the-hunt-museum-style.css" />
  </head>
  <body>
    <%- include("../partials/header-hunt") %>

    <main>
      <section class="games py-5">
        <div class="container">
          <h2 class="mb-5 text-center">Play & Learn</h2>
          <div class="row g-4">
            <div class="col-6 col-md-3 col-lg-3">
              <a href="games/quiz" aria-label="Play the quiz game">
                <div class="game-card">
                  <div class="ratio ratio-1x1">
                    <img src="/img/game1.png" class="img-fluid" alt="Quiz" />
                  </div>
                </div>
                <p class="mt-3">Quiz</p>
              </a>
            </div>
            <div class="col-6 col-md-3 col-lg-3">
              <a href="games/puzzle" aria-label="Play the puzzle">
                <div class="game-card">
                  <div class="ratio ratio-1x1">
                    <img src="/img/game2.png" class="img-fluid" alt="Puzzle" />
                  </div>
                </div>
                <p class="mt-3">Puzzle</p>
              </a>
            </div>
            <div class="col-6 col-md-3 col-lg-3">
              <a href="games/memory" aria-label="Play the memory game">
                <div class="game-card">
                  <div class="ratio ratio-1x1">
                    <img
                      src="/img/game3.png"
                      class="img-fluid"
                      alt="Memory game"
                    />
                  </div>
                </div>
                <p class="mt-3">Memory Game</p>
              </a>
            </div>
            <div class="col-6 col-md-3 col-lg-3">
              <a href="games/matching" aria-label="Play the matching game">
                <div class="game-card">
                  <div class="ratio ratio-1x1">
                    <img
                      src="/img/game4.png"
                      class="img-fluid"
                      alt="Matching game"
                    />
                  </div>
                </div>
                <p class="mt-3">Matching Game</p>
              </a>
            </div>
            <div class="col-6 col-md-3 col-lg-3">
              <a href="games/timeline" aria-label="Play the timeline game">
                <div class="game-card">
                  <div class="ratio ratio-1x1">
                    <img
                      src="/img/game5.png"
                      class="img-fluid"
                      alt="Timeline game"
                    />
                  </div>
                </div>
                <p class="mt-3">Timeline Game</p>
              </a>
            </div>
            <div class="col-6 col-md-3 col-lg-3">
              <a href="games/falling" aria-label="Play the falling object game">
                <div class="game-card">
                  <div class="ratio ratio-1x1">
                    <img
                      src="/img/game5.png"
                      class="img-fluid"
                      alt="Falling game"
                    />
                  </div>
                </div>
                <p class="mt-3">Falling Object Game</p>
              </a>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- Footer -->
    <%- include("../partials/footer") %>

    <script src="/js/active-link.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
